* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
/* a {
  text-decoration: none;
  color: #1f40e6;
  font-weight: 700;
}
p {
  line-height: 24px;
  letter-spacing: 0.25px;
} */
body {
  background-color: #005a88;
}
